# Created by .ignore support plugin (hsz.mobi)
/logs/
/.idea/
*.iml
*.class
target/
.classpath
.project
.settings/
target/
devenv
*.log*
*.iml
.idea/
*.versionsBackup
!NOTICE-BIN
!LICENSE-BIN
.DS_Store
localbin
nohup.out
